* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: linear-gradient(135deg, hsl(44.52, 100%, 49.41%), hsl(27.92, 96.84%, 49.61%), hsl(339.34, 48.03%, 50.2%), hsl(277.05, 79.91%, 44.9%));
    padding: 9rem;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 10rem;
    height: 3rem;
    font-size: 2rem;
    background-color: black;
    color: white;
    border: 0 solid;
    border-radius: 10px;
    margin-right: 25rem;
}

.change{
    color: grey;
}

.header {
    display: flex;
    flex-direction: column;
    margin-top: -3rem;
    line-height: 1.2;
    font-size: 1.2rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding: 1.5rem 0 1.5rem 0;
    box-shadow: 2px 2px 10px 10px orangered;
    height: 35rem;
    width: 35rem;
    background: linear-gradient(135deg, hsl(44.52, 100%, 49.41%), hsl(27.92, 96.84%, 49.61%));
}

.card {
    cursor: pointer;
    position: relative;
    height: 7rem;
    width: 7rem;
    border: 0 solid;
    border-radius: 7px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1rem;
    font-size: 3rem;
}
.card.cardFlip {
    transform: rotateY(0deg);
}

.card::after {
    content: '';
    position: absolute;
    inset: 0;
    background: black;
    border-radius: 7px;
    transition: .5s;
    backface-visibility: hidden;
}

.cardFlip::after, .cardMatch::after {
    transform: rotateY(180deg) rotateZ(45deg);
}